header {background-color: darkgray;}

.parrafo-titulo {background-color: red; font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
font-size: 30px; 
font-weight: 600; 
text-align: center;
}

.barrasNuevas {background-color: red;}

.textoDescri {color: white; background-color: red; text-align: center;}
